footer.footer
  .container
    nav.footer__nav
      a(href=).footer__nav-item Menu1
      a(href=).footer__nav-item Menu2
      a(href=).footer__nav-item Menu3
      a(href=).footer__nav-item Menu4
      a(href=).footer__nav-item Menu5
    a(href=).footer__toplink To page top