footer.footer

    .footer__top
    .footer__nav
        .footer__nav-frame
            .footer__nav-item: p 施設について
            .footer__nav-item: p サービス内容
            .footer__nav-item: p 活動写真
            .footer__nav-item: p 食事
            .footer__nav-item: p お問い合わせ
    .footer__bottom
        p.footer__bottom-toplink ページトップへ