footer.footer
  .footer__top
  nav.footer__nav
      .footer__nav-frame
          a(href=).footer__nav-item 施設について
          a(href=).footer__nav-item サービス内容
          a(href=).footer__nav-item 活動写真
          a(href=).footer__nav-item 食事
          a(href=).footer__nav-item お問い合わせ
  .footer__bottom
    .footer__bottom-frame
      a(href=).footer__bottom-toplink ページトップへ