footer.footer
  .footer__top
  .footer__nav
      .footer__nav-frame
          a(href=).footer__nav-item: p 施設について
          a(href=).footer__nav-item: p サービス内容
          a(href=).footer__nav-item: p 活動写真
          a(href=).footer__nav-item: p 食事
          a(href=).footer__nav-item: p お問い合わせ
  .footer__bottom
      a(href=).footer__bottom-toplink: p ページトップへ