footer.footer
  .container
    nav.footer__nav
      a(href=).footer__nav-item 施設について
      a(href=).footer__nav-item サービス内容
      a(href=).footer__nav-item 活動写真
      a(href=).footer__nav-item 食事
      a(href=).footer__nav-item お問い合わせ
    a(href=).footer__toplink ページトップへ