footer.footer

    .footer__top
    .footer__navi
        .footer__navi-frame
            .footer__navi-item: p 施設について
            .footer__navi-item: p サービス内容
            .footer__navi-item: p 活動写真
            .footer__navi-item: p 食事
            .footer__navi-item: p お問い合わせ
    .footer__bottom