header.header
  .container
    .header__row
      i.fa.fa-bars.header__menu-icon.js-nav-burger
      .header__logo
        a(href='').header-titlelogo Training
      .header__nav.js-nav
        a(href='').header__nav-item Menu1
        a(href='').header__nav-item Menu2
        a(href='').header__nav-item Menu3
        a(href='').header__nav-item Menu4
        a(href='').header__nav-item Menu5