header.header

  .header
    <i class="fa fa-bars header-sp-menu js-nav-burger" aria-hidden="true"></i>
    .container
      .row
        .header__nav.col-6.js-nav
          a(href='').nav-item 施設について
          a(href='').nav-item サービス内容
          a(href='').nav-item 活動写真
          a(href='').nav-item 食事
          a(href='').nav-item お問い合わせ
        .header__logo.col-6
          a(href='').header-titlelogo 和らぎの庭園