header.header

    .header
        p.header__logo 和らぎの庭園
        .header__nav
            nav.nav-item: p 施設について
            a(href='/service/').nav-item: p サービス内容
            .nav-item: p 活動写真
            .nav-item: p 食事
            .nav-item: p お問い合わせ
