header.header

    .header
        p.header__logo 和らぎの庭園
        .header__navi
            nav.navi-item: p 施設について
            a(href='/service/').navi-item: p サービス内容
            .navi-item: p 活動写真
            .navi-item: p 食事
            .navi-item: p お問い合わせ
