header.header

  .header
    <i class="fa fa-bars header-sp-menu" aria-hidden="true"></i>
    p.header__logo 和らぎの庭園
    .header__nav
      a(href=).nav-item: p 施設について
      a(href='/service/').nav-item: p サービス内容
      a(href=).nav-item: p 活動写真
      a(href=).nav-item: p 食事
      a(href=).nav-item: p お問い合わせ
