header.header
  .container
    .header__row
      i.fa.fa-bars.header__menu-icon.js-nav-burger
      .header__logo
        a(href='').header-titlelogo 和らぎの庭
      .header__nav.js-nav
        a(href='').header__nav-item 施設について
        a(href='').header__nav-item サービス内容
        a(href='').header__nav-item 活動写真
        a(href='').header__nav-item 食事
        a(href='').header__nav-item お問い合わせ