extend _base

block content
  .main
    h2.main__logo いつもと違う<span class="br">いつもの毎日へ</span>
    .main__button
      button.button-info お問い合わせ
      button.button-document 資料請求

  .news
    h2.news__title 新着情報
    ul.news__tab
      li.news__tab-item.news__tab-color すべて
      li.news__tab-item 新着情報
      li.news__tab-item トピック

    .news__contents
      - for (var i = 0; i < 5; i++){
      .news__contents-frame
        .news__contents-item
          p.news__contents-item-day 2017.06.11
          p.news__contents-item-announce お知らせ
        p.news__contents-article 内覧会・体験会「6月15日（土）」まずはお電話でご予約ください！！<span class="br">電話:1234-567-890</span>
      - }

  .about
    .about__contents
      h2.about__heading 和らぎの庭園
      p.about__text
    .about__image
      image
