extend _base

block content
  section.hero
    .hero__content
      h2.title-logo This is Training.</span>
      .hero__buttons
        a(href="").btn.btn--info Contact
        a(href="").btn.btn--document Sub Action

  section.news.container
    h2.news__title News
    nav.tab
      .tab__item.js-tab-trg(data-target="a").tab__item--active Tab1
      .tab__item.js-tab-trg(data-target="b") Tab2
      .tab__item.js-tab-trg(data-target="c") Tab3

    .tab-content.js-tab-content.js-tab-content--a.tab-content--active
      .news-wrapper
        - var i = 5
        while i--
          .news-item
            .news-item__header
              time.news-item__date 2017.06.11
              span.news-item__label Label A
            p.news-item__text Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    .tab-content.js-tab-content.js-tab-content--b
      .news-wrapper
        - var i = 3
        while i--
          .news-item
            .news-item__header
              time.news-item__date 2017.06.11
              span.news-item__label Label B
            p.news-item__text Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    .tab-content.js-tab-content.js-tab-content--c
      .news-wrapper
        - var i = 3
        while i--
          .news-item
            .news-item__header
              time.news-item__date 2017.06.11
              span.news-item__label Label C
            p.news-item__text Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  section.about
    .about__image
    .about__contents
      h2.about__heading Title
      p.about__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates incidunt dicta numquam architecto eius necessitatibus laborum vero excepturi culpa natus placeat est quae quia eum fugiat distinctio doloremque, ducimus in?