extend _base

block content
  hero.hero
    .hero__content
      h2.title-logo いつもと違う<span class="br">いつもの毎日へ</span>
      .hero__buttons
        a(href="").btn.btn--info お問い合わせ
        a(href="").btn.btn--document 請求資料

  .news
    h2.news__title 新着情報
    nav.tab
      .tab__item.js-tab-trg(data-target="a").tab-active すべて
      .tab__item.js-tab-trg(data-target="b") 新着情報
      .tab__item.js-tab-trg(data-target="c") トピック

    .tab-content.js-tab-content.js-tab-content--a.tab-content--active
      .news-wrapper
        - var i = 5
        while i--
          .news-item
            .news-item__header
              time.news-item__date 2017.06.11
              span.news-item__label お知らせ
            p.news-item__text 内覧会･体験会｢6月15日(土)｣まずはお電話でご予約ください！！<span class="br">電話:1234-567-890</span>
    .tab-content.js-tab-content.js-tab-content--b
      .news-wrapper
        - var i = 3
        while i--
          .news-item
            .news-item__header
              time.news-item__date 2017.06.11
              span.news-item__label 新着
            p.news-item__text 今週の催し物は流しそうめんになりました。
    .tab-content.js-tab-content.js-tab-content--c
      .news-wrapper
        - var i = 3
        while i--
          .news-item
            .news-item__header
              time.news-item__date 2017.06.11
              span.news-item__label トピック
            p.news-item__text ご利用中の須吾谷さんが散歩中に新種の虫を発見しました！
  .about
    .about__image
    .about__contents
      h2.about__heading 和らぎの庭
      p.about__text ここ｢和らぎの庭｣は小さなデイサービスではありますが介護が必要になっても、家族や親しい人々と共に不安の無い生活を送りたいと言う高齢者の方々の願いに応える為「自分の力を」尊重しつつ、みなさまのサポートをいたします。