extend _base

block content
  hero.hero
    .hero__content
      h2.title-logo いつもと違う<span class="br">いつもの毎日へ</span>
      .hero__buttons
        a(href="").btn.btn--info お問い合わせ
        a(href="").btn.btn--document 請求資料

  .news
    h2.news__title 新着情報
    nav.news__tab
      .news__tab-item__tab.js-tab-trg(data-target="a").tab-active すべて
      .news__tab-item__tab.js-tab-trg(data-target="b") 新着情報
      .news__tab-item__tab.js-tab-trg(data-target="c") トピック

    .news__contents.js-tab-content.js-tab-content--a.contents-active
      - var i = 5
      while i--
        .news__contents-frame
          .news__contents-item
            p.news__contents-item-day 2017.06.11
            .news__contents-item-announce: p お知らせ
          p.news__contents-article 内覧会･体験会｢6月15日(土)｣まずはお電話でご予約ください！！<span class="br">電話:1234-567-890</span>
    .news__contents.js-tab-content.js-tab-content--b
      - var i = 3
      while i--
        .news__contents-frame
            .news__contents-item
              p.news__contents-item-day 2017.06.11
              .news__contents-item-announce: p 新着
            p.news__contents-article 今週の催し物は流しそうめんになりました。
    .news__contents.js-tab-content.js-tab-content--c
      - var i = 3
      while i--
        .news__contents-frame
            .news__contents-item
              p.news__contents-item-day 2017.06.11
              .news__contents-item-announce: p トピック
            p.news__contents-article ご利用中の須吾谷さんが散歩中に新種の虫を発見しました！
  .about
    .about__image
    .about__contents
      h2.about__heading 和らぎの庭
      p.about__text ここ｢和らぎの庭｣は小さなデイサービスではありますが介護が必要になっても、家族や親しい人々と共に不安の無い生活を送りたいと言う高齢者の方々の願いに応える為「自分の力を」尊重しつつ、みなさまのサポートをいたします。