// _about.scss

/*sp*/

@include tablet {
  .about {
    display: block;
    &__image {
      float: left;
      width: 100%;
      padding-bottom: 75%;
      background-image: url("img/about-img.jpg");
      background-position: 60% 100%;
      background-size: 145%;
      margin-bottom: 50px;
    }
    &__contents {
      width: 100%;
      margin-bottom: 60px;
      .about__heading {
        width: 85%;
        font-size: 28px;
        color: black;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: left;
      }
      .about__text {
        width: 85%;
        font-size: 19px;
        letter-spacing: 2px;
        line-height: 1.5em;
        color: black;
        margin: 0 auto;
      }
    }
  }
}


/*wide*/

@include desktop {
  .about {
    position: relative;
    display: flex;
    width: 1200px;
    height: 510px;
    &__image {
      position: absolute;
      width: 50%;
      height: 100%;
      background-image: url("img/about-img.jpg");
      top: 0;
      left: 50%;
    }
    &__contents {
      position: absolute;
      margin-left: 6.3%;
      width: 43.7%;
      height: 100%;
      color: black;
      top: 0;
      left: 0;
      .about__heading {
        position: absolute;
        font-size: 30px;
        font-weight: bold;
        color: black;
        top: 24.5%;
        left: 23%;
      }
      .about__text {
        position: absolute;
        width: 54%;
        height: 139px;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 1.3em;
        color: black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
@include desktop-wide {
  .about {
    width: 100%;
  }
}