.about {
  background: #ffffff;
  &__image {
    background: center/cover url("img/about.jpg");
    height: 200px;
  }
  &__contents {
    padding: 15px;
  }
  @include desktop() {
    display: flex;
    height: 300px;
    align-items: center;
    &__image {
      height: 100%;
      width: 50%;
    }
    &__contents {
      flex: 1;
      order: -1;
      padding: 0 100px;
    }
  }
}