// _footer.scss
@media (max-width: 480px){
.footer {
  background-color: #444444;
  width: 100%;
  padding-bottom: 15px;
  //height: 367px;
  color: white;
   //border: 1px solid red;
  &__top {
    height: 15px;
  }
  &__nav {
    width: 90%;
    margin: 0 auto;
    position: relative;
     //border: 1px solid aqua;
    &-item {
      &:link{
        color: #BBBBBB;
        text-decoration: none;
      }
      &:visited {
        color: #BBBBBB;
      }
      &:hover{
        color: white;
      }
    }
    &-item p {
      font-size: 16px;
      margin-top: 15px;
    }
  }
  &__bottom {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0px;
    border-top: 1px solid #9A9A9A;
      //border: 1px solid yellow;
    &-toplink {
      text-decoration: none;
    }
    &-toplink p {
      width: 90%;
      font-size: 13px;
      color: #BBBBBB;
      &:hover{
        color: white;
      }
    }
  }
}
}
/*wide*/
@media (min-width: 480px){
.footer {
  background-color: #444444;
  width: 1920px;
  height: 367px;
  color: white;
   //border: 1px solid red;
  &__top {
    width: 1200px;
    height: 65px;
    margin: 0 auto;
    border-bottom: 1px solid #9A9A9A;
  }
  &__nav {
    width: 1200px;
    height: 210px;
    margin: 0 auto;
    position: relative;
     //border: 1px solid aqua;
    &-frame {
      position: absolute;
      display: flex;
      top: 49px;
      left: 45px;
       //border: 1px solid lightgreen;
    }
    &-item {
      width: 118px;
      height: 26px;
      margin-right: 125px;
      padding-top: 6px;

      &:link{
        color: #BBBBBB;
        text-decoration: none;
      }
      &:visited {
        color: #BBBBBB;
      }
      &:hover{
        color: white;
      }
       //border: 1px solid royalblue;
    }
    &-item p {
      display: table-cell;
      font-size: 17px;
    }
  }
  &__bottom {
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    border-top: 1px solid #9A9A9A;
    &-toplink {
      text-decoration: none;
    }
    &-toplink p {
      font-size: 13px;
      color: #BBBBBB;
      margin: 37px 0px 0px 45px;
      &:hover{
        color: white;
      }
    }
  }
}
}