// _footer.scss

/*sp*/

//@include tablet {
  .footer {
    background-color: #444; //
    color: white;           //
    width: 100%;
    padding-bottom: 15px;
    &__top {
      height: 15px;
    }
    &__nav {
      margin: 0 auto;   //
      width: 90%;
      &-item {
        color: #bbb;          //
        text-decoration: none;  //
        display: flex;
        margin: 20px 0;
        &:hover {
          color: white;     //
        }
      }
    }
    &__bottom {
      margin: 0 auto;                   //
      border-top: 1px solid #9a9a9a;  //
      width: 90%;
      padding: 20px 0;
      margin-bottom: 0;
      &-toplink {
        font-size: 13px;
        color: #bbb;
        text-decoration: none;
        width: 90%;
        &:hover {
          color: #fff;    //
        }
      }
    }
  }
//}


/*wide*/

@include desktop {
  .footer {
    width: 1200px;
    &__top {
      width: 63.1%;
      height: 65px;
      margin: 0 auto;
      border-bottom: 1px solid #9a9a9a;
    }
    &__nav {
      width: 63.1%;
      height: 140px;
      &-frame {
        display: flex;
        width: 90%;
        margin: 0 auto;
        margin-top: 49px;
      }
      &-item {
        width: 118px;
        height: 26px;
        margin: 0;
        margin-right: 11.1%;
        padding-top: 6px;
        white-space: nowrap;
        &:last-child {
          margin-right: 0;
        }
      }
      &-item p {
        display: table-cell;
        font-size: 17px;
      }
    }
    &__bottom {
      width: 63.1%;
      height: 90px;
      padding: 0;
      background-color: #444;
      &-frame {
        width: 90%;
        display: flex;
        margin: 0 auto;
        margin-top: 25px;
      }
      &-toplink {
        width: auto;
      }
    }
  }
}

@include desktop-wide {
  .footer {
    width: 100%;
  }
}