.header {
  box-shadow: 0 0 10px #333;
  position: relative;
  z-index: 10;
  background: #fff;
  &__row {
    display: flex;
    @include desktop() {
      justify-content: space-between;
    }
  }
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    transform: scaleX(0);
    transform-origin: left;
    background: #fff;
    width: 150px;
    height: 100%;
    box-shadow: 0 0 10px #333;
    &.active {
      transform: scaleX(1);
    }
    &-item {
      display: block;
      padding: 15px;
    }
    @include desktop() {
      line-height: 60px;
      display: flex;
      position: static;
      box-shadow: none;
      width: auto;
      height: auto;
      transform: none;
      &-item {
        padding: 0 15px;
      }
    }
  }
  &__logo {
    line-height: 60px;
    font-size: 18px;
  }
  &__menu-icon {
    line-height: 60px;
    padding: 0 20px;
    margin-left: -15px;
    @include desktop() {
      display: none;
    }
  }
}