// _main.scss

/*sp*/

@media (max-width: 600px) {
  .hero {
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 80px 0;
    background-image: url("img/hero-img.jpg");
    background-position: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    &__content {
      text-align: center;
    }
  }
  .title-logo {
    color: white;
    font-family: "MS PMincho";
    font-size: 36px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }
  .btn {
    display: block;
    margin: 20px;
    padding: 6px 15px;
    font-size: 14px;
    background-color: #facb32;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    text-decoration-line: none;
    &:hover {
      background-color: #fabe00;
      color: #fff;
    }
  }
}


/*wide*/

@media (min-width: 601px) {
  .hero {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 466px 0;
    margin: 0;
    background-image: url("img/hero-img.jpg");
    background-position: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    &__content {
      text-align: center;
    }
  }
  .title-logo {
    color: white;
    font-family: "MS PMincho";
    font-size: 100px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }
  .btn {
    margin: 20px;
    font-size: 19px;
    background-color: #facb32;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    text-decoration-line: none;
    &:hover {
      background-color: #fabe00;
      color: #fff;
    }
  }
  .info {
    padding: 12px 74px;
  }
  .document {
    padding: 12px 87px;
  }
}