// _news.scss

.news {
    width: 1920px;
    height: 762px;
    position: relative;
    background: #FAFAFA;

    &__title {
        width: 128px;
        height: 43px;
        margin: 43px 896px 53px 896px;

        font-size: 32px;
        color: #6A6A6A;
        text-align: center;
        font-weight: bold;
        
        //border: 1px solid green;
    }

    &__tab {
        display: flex;
        width: 1000px;
        height: 45px;
        margin: 0 auto;
        margin-bottom: 40px;
        background: #FAFAFA;
                border: 1px solid green;
        &-item {
            width: 320px;
            height: 45px;
            margin-right: 20px;
            color: #6A6A6A;
            background: #F2F2F2;
        }
        &-item p {
            font-size: 13px;
            font-weight: bold;
            text-align: center;
        }
        &-color {
            background: #C30D23;
            color: #fff;
        }
    }
    &__contents{
        border: 1px solid green;
        width: 1000px;
        height: 380px;
        margin: 0 auto;
        background: #fff;
    }

}