// _news.scss

.news {
    width: 1920px;
    height: 762px;
    position: relative;
    background-color: #FAFAFA;

    &__title {
        width: 128px;
        height: 43px;
        margin: 43px 896px 53px 896px;

        font-size: 32px;
        color: #6A6A6A;
        text-align: center;
        font-weight: bold;
        
        //border: 1px solid green;
    }

    &__tab {
        display: table;
        table-layout: fixed;
        text-align: center;
        width: 1000px;

        margin: 0 auto;
        margin-bottom: 40px;
        background-color: #FAFAFA;
                border: 1px solid green;
        &-item {
            font-size: 13px;
            font-weight: bold;
            display: table-cell;
            vertical-align: middle;

            //width: 320px;
            height: 45px;
            //margin-right: 20px;
            color: #6A6A6A;
            background-color: #F2F2F2;
        }
        //&-item li {
        //    font-size: 13px;
        //    font-weight: bold;
        //    text-align: center;
        //}
        &-color {
            background-color: #C30D23;
            color: #fff;
        }
    }
    &__contents{
        border: 1px solid green;
        width: 1000px;
        height: 380px;
        margin: 0 auto;
        background: #fff;
    }

}