// _style.scss
body {
  margin: 0px;
  font-family: "Noto Sans", "sans-serif";
}

ul {
  margin: 0;
  padding: 0;
}

.br {
  display: block;
}

@import "header";
@import "main";
@import "news";
@import "about";
@import "footer";