// _style.scss
@import "variable";
@import "mixin";
body {
  margin: 0;
  font-family: "Noto Sans", "sans-serif";
  overflow-x: hidden;
}

p {
  line-height: 2;
}

ul {
  margin: 0;
  padding: 0;
}

.br {
  display: block;
}

@import "header";
@import "main";
@import "news";
@import "about";
@import "footer";